.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.871);
    color: rgb(0, 255, 242);
    text-align: center;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }